body {
	width: 80%;
	margin: auto;
}

.main-banner__img {
	width: 100%;
}

.c3-list {
	display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.c3-list__item {
	display: flex;
	flex-direction: column;
}

.c3-item__img {
    width: 100%;
    height: auto;
}